/* Font Libraries */
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: "Jersey 15", sans-serif;
    color: white;
}

body {
    background-image: url('media/lightning-bg.gif');
    background-size: cover;
}

.bgVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 22px;
}


/* Social Icons Styles */
.socials {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 35px 6px;
}

.socials a {
    margin: 10px;
}

.socials i {
    color: white;
    font-size: 40px;
    transition: all 0.2s ease-in-out;
}

.socials i:hover {
    color: #ba0c14;
}


/* Info Styles */
.info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 50px;
    margin: 0 10px;
}

.info>* {
    margin: 0;
    padding: 6px;
}

.name {
    font-family: "Carter One", system-ui;
    font-size: 76px;
    user-select: none;
}

.major {
    font-size: 57px;
    color: #b1b1b1;
    user-select: none;
}

.page {
    font-size: 43px;
    color: #b1b1b1;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.page:hover {
    color: #ba0c14;
    transform: translateX(-6px);
}

.gradDate {
    font-family: "Carter One", system-ui;
    font-size: 38px;
    user-select: none;
}



/* Lightning Page Styles */
.projectContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 22px;
}

.logo {
    width: 75px;
    height: auto;
    padding: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Carter One", system-ui;
    user-select: none;
}

h1 {
    font-size: 76px;
    margin: 15px;
}

#project-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projectContent a {
    font-size: 43px;
    color: black;
    text-decoration: none;
}

.socialLink {
    color: black;
    text-decoration: none;
    font-size: 43px;
    margin: 29px;
}


/* PCs Page Styles */
.pcContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.slideshow {
    position: relative;
    width: 650px;
    height: 550px;
    overflow: hidden;
    border-radius: 12px;


}

#image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.navigation a {
    color: white;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 26px;
    margin: 5px;
    padding: 16px;
    border-radius: 1000px;

    transition: all 0.2s ease-in-out; /* makes hover animation smooth */
}
.navigation a:hover {
    background-color: rgba(199, 199, 199, 0.9);
}

.embeddedIG {
    position: absolute;
    right: 0;
    margin: 0 150px;
    background-color: rgb(199, 199, 199);
    border-radius: 2px;

    -webkit-box-shadow: 0px 0px 50px 4px rgba(199, 199, 199, 0.9);
    -moz-box-shadow: 0px 0px 50px 4px rgba(199, 199, 199, 0.9);
    box-shadow: 0px 0px 50px 4px rgba(199, 199, 199, 0.9);
}